<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.eims.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.eims.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:theme">

        <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <!-- 如果您项目中的所有页面都只需要以高或宽中的一个作为基准进行适配的话, 那就只需要填写高或宽中的一个设计图尺寸即可 -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="360" />
        <meta-data
            android:name="design_height_in_dp"
            android:value="640" />

        <activity android:name="com.eims.app.LauchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.eims.app.MainActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.eims.app.ScrollingActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.eims.app.ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.eims.app.ui.activity.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name="com.eims.app.ui.activity.SearchActivity" />
        <activity
            android:name="com.eims.app.WebViewActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name="com.eims.app.TabHomeActivity"
            android:configChanges="keyboardHidden|orientation|fontScale|fontScale"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity android:name="com.eims.app.TabViewPagerActivity" />
        <activity android:name="com.eims.app.ui.activity.ForgetPasswordActivity" />
        <activity
            android:name="com.eims.app.SidebarActivity"
            android:label="@string/title_activity_sidebar"
            android:theme="@style/MyAppTheme" />
    </application>

</manifest>